@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.25s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* body {
  min-height: 200vh;
} */
ion-icon{
  font-size: 1.5rem;
  cursor: pointer;
}
a,
nav .menu span {
  color: #000;
  font-size: 0.8rem;
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  justify-content: space-between;
}
header.jamed {
  background: rgba(0, 0, 0, 0.9);
}
header.jamed .logo,
header.jamed nav .links {
  color: #fff;
}
header.jamed nav .links::before {
  background-color: #fff;
}
header.jamed .outline {
  border-color: #fff;
  color: #fff;
}
.logo {
  font-weight: 900;
  font-size: 1.5rem;
}
nav {
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
}
.links {
  position: relative;
  padding: 2px 0px;
}
.links::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0%;
  background: #000;
  transition: 0.5s;
}
.links:hover:before {
  width: 100%;
}
.btn {
  color: #fff;
  outline: none;
  padding: 8px 15px;
  font-size: 0.8rem;
  border: 1px solid #000;
  background-color: #000;
}
.outline {
  outline: none;
  color: #000000;
  background: transparent;
}
.btn:hover,
.main .box:hover {
  cursor: pointer;
  /* box-shadow: 0px 2px 10px #3d416976; */
}
.btns {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuToggler {
  display:none;
}
.close {
  display: none;
}
._menu.down {
  display:flex;
}
.d
/* ---------- Dropdown Menu ----------*/
.menu {
  position: relative;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu span {
  font-size: 1.1rem;
  cursor: pointer;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  top: 70%;
  border: 1px solid #000;
  z-index: 1;
  text-align: left;
  transition: 0.5s;
  flex-direction: column;
}
.dropdown-content a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
}
.dropdown-content a:hover {
  background-color: #00000019;
}
.menu:hover .dropdown-content {
  display: flex;
}

/* hero section */ 
section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px 50px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.hero {
  gap: 40px;
  padding: 150px 20px;
  flex-direction: column;
}
.hero h1 {
  font-size: 2.5rem;
}
.hero .title  {
  width: 50%;
  text-align: center;
}
.hero .video {
  position: relative;
  width: 80%;
}
.hero .video video {
  width: 100%;
}
/* Responsive */
@media (max-width: 700px) {
  header {
    padding: 20px;
  }
  nav {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 20px;
    display: none;
    overflow: hidden;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  nav.active {
    display: flex;
  }
  .menuToggler {
    display: flex;
  }
  .menu {
    flex-direction: column;
  }
  .close.active {
    display: flex;
  }
  ._menu.down {
    display:none;
  }
  .dropdown-content {
    position: relative;
    top: 0%;
  }
}
